*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}
/* body{
    background-image: url('/images/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to right, #357d76, #b053b7);
} */

body {
    margin: 0;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    background: linear-gradient(-45deg, #DEA87E, #DED87E, #DE7E84);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.home-txt{
    margin-top: 200px;
    text-align: center;
}
h1{
    color: #333333;
    font-size: 62px;
}
p{
    color: #c9c9c9;
    font-size: 22px;
}
.highlight {
    background: linear-gradient(to right, #8B4513, #D2691E);
    -webkit-background-clip: text; 
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    font-weight: bold;
    letter-spacing: 2px;
    display: inline-block;
}
.paragraph-effect {
    font-weight: 300; 
    color: #6B4F3F;
    letter-spacing: 1px;
    line-height: 1.5;
    text-shadow: 0 0 4px rgba(218, 218, 218, 0.3),
                0 2px 6px rgba(0, 0, 0, 0.15);
}

a{
    text-decoration: none;
    border: solid 1px #8B4513;
    padding: 10px 25px;
    font-size: 20px;
    text-align: center;
    border-radius: 12px;
    color: #222;
    transition: 1s;
}

.button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.btn-container{
    text-align: center;
    margin-top: 100px;
    padding: 10px;
}

a:hover {
    background-color: #8B4513;
    transform: scale(1.1);
    color: rgb(249, 249, 249);
}